body {
    margin: 0;
}

* {
    font-family: 'Roboto';
}

@font-face {
    font-family: Roboto;
    src: url(../roboto/Roboto-Regular.ttf);
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#arquivo, #erro, #warning {
    display: none;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 3px;
}

.container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:visited {
    color:#FFF
}

a:link {
    color:#FFF
}

.link:visited, .link:link {
    color:#3498db
}

.link:hover {
    color: blue
}

.image-header {
    height: 30px;
    width: 30px;
}

input {
    font-size: large;
}

input[type="file"] {
    display: none;
}

.btn {
    padding: 20px 10px;
    width: 200px;
    background-color: #3498db;
    color: #FFF;
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}