<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PDF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="loader" id="loader"></div>

        <div class="container text-center mt-3">
            <h1>Torne seu PDF 'PESQUISÁVEL' <img class="image-header" src="{{ url_for('static', filename='img/icon.png') }}" alt=""></h1>
            <form action="" method="post" id="form" onsubmit="return false">
                <label for="pdf" class="btn">Enviar arquivo</label>
                <input type="file" name="pdf" id="pdf" accept="application/pdf">
            </form>
            <h2 id="warning" class="mt-3">
                <p>Aguarde enquanto convertemos seu PDF...</p>
                <p>Não feche ou recarregue a página</p>
            </h2>
            <div id="arquivo" class="mt-3 text-center">
                <p>Segue o arquivo</p>
                <div id="link"></div>
            </div>
            <div id="msg"></div>
            <div class="mt-3">
                <div id="erro"></div>
            </div>
        </div>
        <footer>
            <p>Desenvolvido 1º Sgt Ferreira</p>
        </footer>
    
        <script>
            $("#pdf").change(sendFormData);
			
			function sendFormData(){
                $("#loader").show();
                $("#form").toggle();
                $("#warning").hide();
                $("#arquivo").hide();
                $("#link").empty()
                $("#msg").empty()
                $("#erro").empty().hide()
                var formData = new FormData($("#form").get(0));
				$("#warning").show()
				var ajaxUrl = "/";
				
				$.ajax({
					url : ajaxUrl,
					type : "POST",
					data : formData,
					// both 'contentType' and 'processData' parameters are
					// required so that all data are correctly transferred
					contentType : false,
					processData : false
				}).done(function(response){
					// In this callback you get the AJAX response to check
					// if everything is right...
                    console.log(response)
                    $("#form")[0].reset();
                    if (response['link']){
                        $("#link").append(`<a class='btn' href='${response['link']}'>DOWNLOAD</a>`)
                        $("#msg").append(`<p>Salve este endereço para fazer o download do arquivo quando quiser <a class='link' href="http://${document.domain}:${location.port}${response['link']}">http://${document.domain}:${location.port}${response['link']}</a><p>`)
                        $("#arquivo").toggle();
                    }
                    if (response['erro']){
                        $("#erro").show();
                        $("#erro").append(`<span>${response['erro']}<span>`)
                    }
				}).fail(function(response){
                    console.log(response)
                    $("#erro").show();
                    $("#erro").append(`<span>Os nossos servidores estão sobrecaregados, tente novamente mais tarde...<span>`)
					// Here you should treat the http errors (e.g., 403, 404)
				}).always(function(){
                    $("#loader").hide();
                    $("#form").toggle();
                    $("#warning").toggle();
				});
			}
        </script>
    </body>
</html>