<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PDF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Torne seu PDF 'PESQUISÁVEL'</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="pdf" id="pdf" accept="application/pdf">
            <input type="submit" value="Enviar">
        </form>
        
        <script src="" async defer></script>

        <button id="startButton">Start OCR</button>
        <div id="status"></div>
    
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
    
            socket.on('connect', function() {
                console.log('Connected');
            });
    
            socket.on('ocr_completed', function(data) {
                document.getElementById('status').innerHTML = data.message;
            });
    
            socket.on('output_file', function(data) {
                var fileUrl = data.output_file; // You might need to serve the file statically or through Flask
                // Here you can provide the file to the user for download or further action
            });
    
            /*document.getElementById('startButton').addEventListener('click', function() {
                socket.emit('start_ocr', {});
            });*/
        </script>
    </body>
</html>